.body{
    font-family: cursive;
}

.container{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: rgb(9, 9, 129);
}

.list{
    margin: 0;
    border-bottom: 2px solid #ccc;
}
